body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 6em;
    background-color: #eeeeee;
    color: black;
}
#submit_button{
    background-color: #FCFFF5 !important;
    color: #1565c0  !important;
}
#submit_button:hover{
    background-color: #c51162;
    color: #1565c0 ;
}